@import "tailwindcss";

h1 {
  font-family: var(--font-bebas);
  line-height: 0.9;
}

h2,h3,p,span {
  font-family: var(--font-inter);
  line-height: 1;
}

main h1 {
  font-size: clamp(4rem, 8vw, 50rem);
}