@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

h1,h2 {
  font-family: var(--font-bebas);
  line-height: 0.9;
}

h3,p,span {
  font-family: var(--font-inter);
  line-height: 1;
}

main h1 {
  font-size: clamp(5rem, 8vw, 50rem);

   background: linear-gradient(to top, #ffffff, #a7a7a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}